.header {
    display: none;
}

.mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 20px 10px;

    background: #F5F6F8;
}

.menuClose {
    position: fixed;
    z-index: 11;
    top: 20px;
    right: 10px;

    padding: 5px;
}

.sidebar > div {
    padding-top: 60px;
}

@media (max-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 15px;
    }
}
