.head {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 25px;
}

.titleBox {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;
	justify-items: left;
	gap: 20px;

	margin-top: 25px;
	margin-bottom: 30px;
}

.categoryTitle {
	font-size: 22px;
	line-height: 30px;
}

.advantageTitle {
	margin-bottom: 30px !important;
}

.skills {
	margin-top: 30px !important;
	margin-bottom: 20px !important;
}

@media screen and (max-width: 600px) {
	.head {
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
	}
}
