.sidebar {
	position: sticky;
	top: 0;

	display: flex;

	overflow-y: auto;
	flex-direction: column;
	gap: 30px;

	/* height: 600px; */

	padding: 30px;

	border-radius: 10px;
	background: var(--primary);
}
