.tag {
	display: inline-block;

	box-sizing: border-box;
	margin-right: 5px;

	border-radius: 20px;
}

.s {
	padding: 5px 12px;

	font-size: 12px;
}

.m {
	padding: 5px 10px;

	font-size: 14px;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
	background: none;

	font-weight: 500;
}

.red {
	color: var(--white);
	background-color: #DE0000;

	font-weight: 600;
}

.green {
	color: var(--green);
	background-color: var(--green-light);

	font-weight: bold;
}

.ghost {
	border: 1px solid var(--neutral-100);

	font-weight: 500;
}

.gray {
	color: var(--white);
	background-color: #B3C0D9;

	font-weight: bold;
}
