html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background: var(--white);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

:root {
	--font-family: "Noto sans", sans-serif;
	--main-gray: #F5F6F8;
	--dark-gray: #787D85;
	--neutral-100: #EBEBEB;
	--black: #3B434E;
	--white: white;
	--primary: #315385;
	--primary-hover: #5636D4;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}
